body {
	background: #282822;
	color: #ffffff;
	font-family: sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.tabBar {
	overflow: hidden;
	white-space: nowrap;

	background: #111111;

	margin: 0;
	padding: 0;
	border: 0;
	height: 2.1em;
	line-height: 2.1em;
}

.tabHeader {
	display: inline-block;
	vertical-align: top;
	position: relative;

	min-width: 7.5em;
	height: 100%;

	background: #3c3c38;
	color: #cccccc;

	margin-left: 1px;

	cursor: pointer;
}

.tabHeader.active {
	background: #282822;
	color: #ffffff;
}

.dropArea {
	position: relative;
	z-index: 1000;

	pointer-events: none;
}

.dropArea.active {
	pointer-events: auto;
}

.tabHeader .dropAreaContainer {
	position: absolute;

	width: 100%;
	height: 100%;
}

.tabHeader .dropArea {
	display: inline-block;
	vertical-align: top;

	width: 50%;
	height: 100%;
}

.tabHeader .dropArea.left {
	margin-left: -1px;
	border-left: solid transparent 1px;
}

.tabHeader .dropArea.right {
	margin-right: -1px;
	border-right: solid transparent 1px;
}

.tabHeader .dropArea.hover {
	border-color: #ffffff;
}

.tabHeaderContent {
	position: relative;

	padding-left: 0.8em;
	padding-right: 0.8em;
}

.tabHeader.closable .tabHeaderContent {
	padding-right: 1.8em;
}

.tabTitle {
	font-size: 0.8em;
}

.tabCloser {
	position: absolute;
	right: 0.5em;

	color: #cccccc;

	font-weight: bold;
	visibility: hidden;
}

.tabCloser::after {
	content: '×';
}

.tabCloser:hover {
	color: #ffffff;
}

.tabHeader:hover .tabCloser, .tabHeader.active .tabCloser {
	visibility: visible;
}
