body {
	background: #282822;
	color: #ffffff;
	font-family: sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.tabPane {
	width: 100%;
	height: 100%;
}

.tabBar {
	overflow: hidden;
	white-space: nowrap;

	background: #111111;

	margin: 0;
	padding: 0;
	border: 0;
	height: 2.1em;
	line-height: 2.1em;
}

.tabHeader {
	display: inline-block;
	vertical-align: top;
	position: relative;

	min-width: 7.5em;
	height: 100%;

	background: #3c3c38;
	color: #cccccc;

	margin-left: 1px;

	cursor: pointer;
}

.tabHeader.active {
	background: #282822;
	color: #ffffff;
}

.dropArea {
	position: relative;
	z-index: 1;

	pointer-events: none;
}

.dropArea.active {
	pointer-events: auto;
}

.tabBar .dropArea.rest {
	display: inline-block;
	vertical-align: top;

	width: 100%;
	height: 100%;

	border-left: solid transparent 1px;
}

.tabHeader .dropAreaContainer {
	position: absolute;

	width: 100%;
	height: 100%;
}

.tabHeader .dropArea {
	display: inline-block;
	vertical-align: top;

	width: 50%;
	height: 100%;
}

.tabHeader .dropArea.left {
	margin-left: -1px;
	border-left: solid transparent 1px;
}

.tabHeader .dropArea.right {
	margin-right: -1px;
	border-right: solid transparent 1px;
}

.tabHeader .dropArea.hover, .tabBar .dropArea.rest.hover {
	border-color: #ffffff;
}

.tabHeaderContent {
	position: relative;

	padding-left: 0.8em;
	padding-right: 0.8em;
}

.tabHeader.closable .tabHeaderContent {
	padding-right: 1.8em;
}

.tabTitle {
	font-size: 0.8em;
}

.tabCloser {
	position: absolute;
	right: 0.5em;

	color: #cccccc;

	font-weight: bold;
	visibility: hidden;
}

.tabCloser::after {
	content: '×';
}

.tabCloser:hover {
	color: #ffffff;
}

.tabHeader:hover .tabCloser, .tabHeader.active .tabCloser {
	visibility: visible;
}

.tabHeader.dragging {
	opacity: 0.5;
}

.tabContent {
	height: calc(100% - 2.1em);
	overflow: auto;

	display: none;
}

.tabContentProvider {
	position: absolute;
	z-index: 1;

	overflow: auto;

	display: none;
}

.tabContent.active {
	display: block;
}

.tabLayout {
	position: relative;
	height: 100%;

	overflow: hidden;
}

.tabContentArea {
	height: calc(100% - 2.1em);
}

.Resizer {
	background: #fff;
	opacity: .2;
	z-index: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.Resizer.horizontal {
	height: 7px;
	margin: -3px 0;
	border-top: 3px solid rgba(0, 0, 0, 0);
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	cursor: row-resize;
	width: 100%;
}

.Resizer.horizontal:hover {
	border-top: 3px solid rgba(255, 255, 255, 0.5);
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.Resizer.vertical {
	width: 7px;
	margin: 0 -3px;
	border-left: 3px solid rgba(0, 0, 0, 0);
	border-right: 3px solid rgba(0, 0, 0, 0);
	cursor: col-resize;
}

.Resizer.vertical:hover {
	border-left: 3px solid rgba(255, 255, 255, 0.5);
	border-right: 3px solid rgba(255, 255, 255, 0.5);
}
.Resizer.disabled {
	cursor: not-allowed;
}
.Resizer.disabled:hover {
	border-color: transparent;
}
